#comments,
#comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#comments li {
  position: relative;
  padding-left: 1rem;
}

.children-comments {
  margin-left: 2rem;
  padding-left: 1.5rem;
  border-left: 2px dotted rgb(var(--color-neutral-600));
}

.comment-meta {
  font-weight: bold;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.9rem;
  color: rgb(var(--color-neutral-300));
}

.comment-meta a {
  color: rgb(var(--color-primary-400));
}

.comment-meta time {
  font-weight: normal;
  font-size: 12px;
  color: rgb(var(--color-neutral-400));
}

.comment-meta img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.comment-content {
  padding: 0.5rem;
  color: rgb(var(--color-neutral-300));
  border-radius: 10px;
  line-height: 1.5;
  transition: background 0.2s ease;
  font-size: 15px;
}

.comment-content:hover {
  background: rgb(var(--color-neutral-700));
}
